.contactUs {
    margin-bottom: 55px;
}

.contactUsTitle {
    margin-bottom: 10px;
}

.contactUsSubtitle {
    color: #717171;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
}

.contactUsTitle, .contactUsSubtitle {
    text-align: center;
}

.content {
    display: flex;
    padding: 10px;
    background-color: #FFFFFF;
}


@media (max-width: 1024px) {
    .contactUs {
        margin-bottom: 50px;
        padding-top: 95px;
    }

    .contactUsSubtitle {
        font-size: 14px;
        line-height: 21px;
        max-width: 190px;
        margin: 0 auto 20px;
    }

    .content {
        padding: 5px;
        flex-direction: column;
    }
}

