.infoList {
    max-width: 330px;
}

.infoListItem {
    margin-bottom: 24px;
}

.infoListItem, .iconWrapper {
    display: flex;
    align-items: center;
}

.iconWrapper {
    margin-right: 25px;
}

.infoListTitle {
    margin-bottom: 20px;
}

.infoListItem.itemLargeMargin {
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .infoListItem {
        margin-bottom: 20px;
    }

    .infoListItem.itemLargeMargin {
        margin-bottom: 15px;
    }

    .infoListItem:last-child, .infoListItem.itemLargeMargin:last-child {
        margin-bottom: 0;
    }

    .iconWrapper {
        margin-right: 0;
        margin-bottom: 10px;
    }
}