/*Defining global style rules*/

.main-container {
    padding-right: 122px;
    padding-left: 122px;
    max-width: 1440px;
}

.wide-container {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
}

.main-container, .wide-container {
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .main-container, .wide-container {
        width: 360px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



