@import "global.css";

/*Resetting default styles and adding default style properties*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0;
    background-color: #FBFBFB;
    font-size: 16px;
    overflow-x: hidden;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 24px;
        line-height: 36px;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }

    h3 {
        font-size: 16px;
    }
}