.mobileMenu {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    display: none;
}


.mobileMenuContent {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1024px) {
    .mobileMenu {
        display: block;
    }
}